body {

    display: flex;
    font-family: Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

#container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-basis: 1024px;
}

.marginer {
    flex: 1;
}

.bold {
    font-weight: 600;
}

/* 메인 스타일 시작 */
main#main-container {
    width: 99.9vw;
    flex-basis: 600px;
    display: flex;
}

.content {
    flex-basis: 1024px;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-x: hidden;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.content hr {
    width: 100%;
    margin: 0;
}

.intro {
    flex-basis: 700px;
    background-color: #EDE0D4;
}

.intro-content {
    display: flex;
}

.section-divider {
    height: 50%;
    flex-grow: 1;
    display: flex;
}

.section-quarter {
    flex-grow: 1;
    width: 50%;
    height: 100%;
    display: flex;
    
}

.intro-title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 0px 0px 80px;
}

.intro-content {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 120px 0px;
}

.intro-content p {
    margin: 2px 0px;
    font-size: 20px;
}

.show {
    flex: 1 1 auto;
    overflow-x: hidden;
    background-color: #E6CCB2;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px
}

.cards-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-bottom: 10px;
    -ms-overflow-style: none; /* 익스플로러, 앳지 */
    scrollbar-width: none; /* 파이어폭스 */
    margin: 0;
}

.cards-container::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라 */
}

.card {
    flex: 0 0 auto;
    width: 200px;
    margin: 10px 10px 20px 10px;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f9fa;
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    -webkit-user-drag: none;
}

.card-title {
    margin: 10px 0 5px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 14px;
    color: #666;
}

/* 메인 스타일 끝*/

/* 로그인 모달 스타일 시작 */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* display: flex; */
}
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    background-color: #EDE0D4;
}

.modal-content img {
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
}
.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.flex-right input {
    margin-right: 3px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #B08968;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal-content button:hover {
    background: #7F5539;
}

.modal-content .additional-options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.modal-content .submit-btn {
    margin: 20px 0 0 0;
}

.modal-find-form {
    display: none;
}

.modal-content .find-pwd-form {
    display: none;
}

.modal-content form {
    width: auto;
    flex-direction: column;
}

.modal-content form label {
    text-align: start;
}

.modal-content .tab-buttons {
    display: flex;
    background-color: #DDB892;
    border-radius: 4px;
    margin: 0px 0px 30px 0px;
    padding: 0px 2px;
}

.modal-content .tab-buttons button {
    flex: 1 0;
    margin: 4px 2px 4px 2px;
    background: #B08968;
    color: #000;
}

.modal-content .tab-buttons button:hover {
    background: #7F5539;
}

.modal-content .find-id-form #emailInput {
    margin: 0px 0 20px 0;
}

.modal-content .find-pwd-form #id-submit {
    width: 100px;
    height: 30px;
    font-size: 12px;
    padding: 0px;
    margin: 0;
}

.modal-content .find-pwd-form .certi-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.certi-area label {
    width: 100%;
}
.certi-area input {
    flex-basis: 65%;
}

.modal-content .find-pwd-form #certi-num-btn {
    width: 30%;
    height: 45px;
    padding: 0;
    margin: 0 0px 10px 17px;
}

.result-form label {
    text-align: start;
}
#id-result, #pwd-result {
    margin-bottom: 50px;
}
/* 로그인 모달 스타일 끝 */
  display: flex;
}

#container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  box-sizing: border-box;
}

.marginer {
  width: 15%;
  flex-grow: 1;
  height: 100%;
  border: 1px solid black;
}

/* 네비게이션 바 스타일 시작*/
nav {
  width: 99.9vw;
  height: 80px;
  border: 1px solid black;
  display: flex;
}

.nav-area {
  flex-basis: 1024px;
  flex-shrink: 0;
  height: 100%;
  border: 1px solid black;
  padding: 20px;
  display: flex;
}

.category,
.writer {
  width: 150px;
  height: 47px;
  background-color: burlywood;
  border-radius: 0.375rem;
  /* 중고나라에서 radius 값 복사해왔음*/
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0% 1.5%;
}


.writer>span,
.category>span {
  font-weight: bold;
  font-size: large;
}

.writer {
  cursor: pointer;
}


.search-bar {
  width: 600px;
  height: 47px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

#search-icon {
  position: absolute;
  margin: 0px 10px;
}

.search-input {
  padding-left: 40px;
  width: 100%;
  height: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  background-color: #f9f9f9;
}

/* 네비게이션 바 스타일 끝*/

/* 메인 스타일 시작 */
main {
  width: 99.9vw;
  flex-basis: 600px;
  display: flex;
  border-collapse: collapse;
}

.content {
  flex-basis: 1024px;
  flex-shrink: 0;
  height: 100%;
  border: 1px solid black;
}

/* 메인 스타일 끝*/

