body {
    display: flex;
    
}

#container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    box-sizing: border-box;
}

.marginer {
    width: 15%;
    flex-grow: 1;
    height: 100%;
    border: 1px solid black;
}

header {
    height: 100px;
    background-color: #f8f9fa;
    display: flex;
  }
  
  .header-area {
    flex-basis: 1024px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  
  .title {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .menu {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
  
  .menu-item {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .menu a{
    font-weight: 600;
    margin: 0;
    font-size: 24px;
    color: black;
  }
  
  .user-menu {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .user-menu-item {
    height: 60%;
    display: flex;
    align-items: center;
    margin: 0px 5px;
  }

  .user-menu-item a{
    color: black;
  }
  
  .user-menu img {
    margin: 10px;
  }
  
  .user-menu a {
    font-weight: 600;
  }
  
  header img {
    height: 40%;
    margin: 0px 20px 3px 0px;
  }

main {
    width: 99.9vw;
    flex-basis: 600px;
    display: flex;
    border-collapse: collapse;
    
}


.content {
    flex-basis: 1024px;
    flex-shrink: 0;
    height: 100%;
    border: 1px solid black;
    background-color: #E6CCB2;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #9C6644;
}

.container h2 {
    font-weight: 600;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    color: white;
}

.form-group label {
    flex: 0 0 120px; 
    margin-right: 20px;
    text-align: right;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select,
.form-group input[type="file"],
.form-group textarea,
.form-group input[type="email"] {
    
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 270px;
    max-width: 100%; 
}

.form-group input[name="id"]{
    width: 340px;
}

.email-group input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 116px; 
    max-width: 100%; 
}

.email-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 120px; 
    max-width: 100%; 
}

.email-group span {
    margin: 0 10px;
}

.duplicate-check {
    padding: 8px 12px;
    background-color: #DDB892;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.file-select{
    padding: 8px 12px;
    background-color: #DDB892;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.checkbox-container label {
    margin-left: 136px;
    color: white;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #DDB892;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}

.button-group button[type="reset"] {
    background-color: #9C6644;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container {
    background-color: #7F5539;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 100px;
    max-width: 800px;
    justify-content: center;
    display: flex;
    margin-right: 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}


footer {
    height: 200px;
    border-collapse: collapse;
    display: flex;
  }
  
  .footer-area {
    flex-basis: 1024px;
    flex-shrink: 0;
    height: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #E6CCB2;
  }
  
  .footer-area hr {
    width: 100%;
    margin: 0px;
  }
  
  .footer-area h5,h6 {
    font-weight: 600;
    margin-right: 5px;
  }
  
  .footer-area div > h5 {
    margin-bottom: 12px;
    color: #9C6644;
  }
  
  .footer-area div > p {
    margin: 1px 0px 5px 0px;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    background-color: #E6CCB2;
  }
  
  .footer-info div {
    display: flex;
    align-items: baseline;
  }
  
  .footer-term {
    padding: 8px 0px;
  }
  
  .footer-term a {
    margin-right: 20px;
    font-weight: 600;
    color: #9C6644;
  }