<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat">

   <select id="selectAllChatRooms" resultType="com.kh.secondLife.chat.model.vo.ChatRoom">
    SELECT * FROM chat_room
  </select>
  
  <select id="selectChatRoomList" parameterType="int" resultType="com.kh.secondLife.chat.model.vo.ChatRoom">
    SELECT * FROM chat_room
    WHERE first_member_no = #{memberNo} OR second_member_no = #{memberNo}
  </select>

  <insert id="insertChatRoom">
    INSERT INTO chat_room (board_no, first_member_no, second_member_no, create_date, status, notice)
    VALUES (#{boardNo}, #{firstMemberNo}, #{secondMemberNo}, #{createDate}, #{status}, #{notice})
  </insert>

  <delete id="deleteChatRoomMember" parameterType="map">
    DELETE FROM chat_room_user 
    WHERE chat_room_no = #{chatRoomNo} AND member_no = #{memberNo}
  </delete>

  <select id="countChatRoomMembers" parameterType="int" resultType="int">
    SELECT COUNT(*) FROM chat_room_user WHERE chat_room_no = #{chatRoomNo}
  </select>

  <delete id="deleteChatRoom" parameterType="int">
    DELETE FROM chat_room WHERE chat_room_no = #{chatRoomNo}
  </delete>
</mapper>
