<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	
	<select id="adminLogin" resultType='member'>
		SELECT 
			*
		FROM MEMBER
		WHERE ID = #{id}
		  AND ADMIN_AUTH = 'Y'
	</select>
	
	<select id="selectMemberAll" resultType="member">
		SELECT *
		FROM MEMBER
		WHERE STATUS = 'Y'
		  AND ADMIN_AUTH = 'N'
		  <if test="searchCategory != null and searchCategory != 'none'">
		  AND
		     <choose>
		     	<when test="searchCategory == 'memberNo'">
		     		MEMBER_NO LIKE '%' || #{searchKeyword} || '%'
		     	</when>
			  	<when test="searchCategory == 'id'">
		     		ID LIKE '%' || #{searchKeyword} || '%'
		     	</when>
			    <when test="searchCategory == 'nickname'">
		     		NICKNAME LIKE '%' || #{searchKeyword} || '%'
		     	</when>
		     	<when test="searchCategory == 'name'">
		     		NAME LIKE '%' || #{searchKeyword} || '%'
		     	</when>
			 </choose>
		  </if>
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="selectMemberAllCount" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE STATUS = 'Y'
			AND ADMIN_AUTH = 'N'
	</select>
	
	<select id="selectBoardList" resultType="board">
		SELECT *
		FROM BOARD
		LEFT JOIN MEMBER ON (BOARD_WRITER = MEMBER_NO)
	</select>
	
</mapper>