
/* 메인 스타일 시작 */


main {
  width: 99.9vw;
  flex-basis: 600px;
  display: flex;
  border-collapse: collapse;
}

main#main-container {
    width: 99.9vw;
    flex-basis: 600px;
    display: flex;
}

.content {
  flex-basis: 1024px;
  flex-shrink: 0;
  height: 100%;
}

/* 메인 스타일 끝*/


/* 거래글 목록 레이아웃 스타일 시작*/
.list-top {
    width: 100%;
    height: 100px;
    /* border : 1px solid black; */
    padding: 20px;
    display: flex;
}

.list-mid {
    width: 100%;
    height: 100%;
    flex-basis: auto;
    margin-left : 80px;
    /* 확장하기 위함*/
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.list-bottom {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    padding: 0% 5%;
    justify-content: center;
    align-items: center;

}

/* 거래글 목록 레이아웃 스타일 끝*/

/* 거래글 목록 세부정보(판매 카테고리,수량, 정렬방법) 스타일 시작*/
.list-description {
    width: 300px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-search {
    font-size: 1.3em;
    font-weight: bold;
}

.list-count {
    font-size: 1.2em;
    font-weight: bold;
}

.list-assort {
    width: 400px;
    /* border: 1px solid black; */
    margin-left: 280px;
    padding-left: 60px;
    align-items: end;
    display: flex;
}

/* 정렬 순서 */
#sort {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#sort li {
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    border-right: 1px solid grey;
}

#sort li:nth-last-child(1) {
    border-right: none;
}

#sort li>a {
    text-decoration: none;
    color: grey;
}

/* 거래글 목록 세부정보(판매 카테고리,수량, 정렬방법) 스타일 끝*/

/* 거래글 목록 스타일(카드) 시작 */
.board-card {
    width: 190px;
    height: 300px;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    margin-right: 40px;
}

.board-thumbnail {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.board-thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.board-description {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.board-title {
    font-size: 0.8em;
    font-weight: bold;
}

.board-information {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.board-price {
    font-size: 1.2em;
    font-weight: bolder;
}

.board-writed {
    font-size: 0.8em;
    color: grey;
}

.board-card {
    width: 190px;
    height: 300px;
    /* border: 1px solid black; */
    margin-bottom: 10px;
}

.board-thumbnail {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.board-thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.board-description {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.board-title {
    font-size: 0.8em;
    font-weight: bold;
}

.board-information {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.board-price {
    font-size: 1.2em;
    font-weight: bolder;
}

.board-writed {
    font-size: 0.8em;
    color: grey;
}

/* 카드 누르면 해당 거래글로 갈 수 있는 앵커태그 
    앵커태그의 특성을 없애주기 위한 속성이다.
  */
.card-anchor,
.card-anchor:hover {
    text-decoration: none;
    color: black;
}


/* 거래글 목록 스타일(카드) 끝*/

/* 거래글 페이지바 스타일 시작 */

.page-bar {
    width: 600px;
    height: 45px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.page-item,
.page-item:hover {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid grey;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    padding: 0.6%;
    margin-left: 0.5px;
    margin-right: 0.5px;

}

.page-on {
    background-color: burlywood;
}



/* 거래글 페이지바 스타일 끝 */


/* 로그인 모달 스타일 시작 */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* display: flex; */
}
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    background-color: #EDE0D4;
}

.modal-content img {
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
}
.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.flex-right input {
    margin-right: 3px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #B08968;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal-content button:hover {
    background: #7F5539;
}

.modal-content .additional-options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.modal-content .submit-btn {
    margin: 20px 0 0 0;
}

.modal-find-form {
    display: none;
}

.modal-content .find-pwd-form {
    display: none;
}

.modal-content form {
    width: auto;
    flex-direction: column;
}

.modal-content form label {
    text-align: start;
}

.modal-content .tab-buttons {
    display: flex;
    background-color: #DDB892;
    border-radius: 4px;
    margin: 0px 0px 30px 0px;
    padding: 0px 2px;
}

.modal-content .tab-buttons button {
    flex: 1 0;
    margin: 4px 2px 4px 2px;
    background: #B08968;
    color: #000;
}

.modal-content .tab-buttons button:hover {
    background: #7F5539;
}

.modal-content .find-id-form #emailInput {
    margin: 0px 0 20px 0;
}

.modal-content .find-pwd-form #id-submit {
    width: 100px;
    height: 30px;
    font-size: 12px;
    padding: 0px;
    margin: 0;
}

.modal-content .find-pwd-form .certi-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.certi-area label {
    width: 100%;
}
.certi-area input {
    flex-basis: 65%;
}

.modal-content .find-pwd-form #certi-num-btn {
    width: 30%;
    height: 45px;
    padding: 0;
    margin: 0 0px 10px 17px;
}

.result-form label {
    text-align: start;
}
#id-result, #pwd-result {
    margin-bottom: 50px;
}
/* 로그인 모달 스타일 끝 */
  display: flex;
}

#container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.marginer {
  width: 15%;
  flex-grow: 1;
  height: 100%;
}
